table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid rgb(158, 152, 152);
}

tr:nth-child(even) {
  background-color: lightblue;
}

.button{
  background-color: rgb(128, 129, 70);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}